.App {
  padding-bottom: 30px;
  /* width: 100vw;
  min-height: 100vh;
  position: relative; */
}
.curved {
  /* position: absolute; */
  width: 100%;
  min-height: 125px;
  background: #3380f0;
  border-radius: 0 0 40% 40%;
  z-index: -1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  color: #fff;
  font-size: 2.5rem;
  font-weight: 700;
}
.header {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 60px;
  padding: 0 25px;
}
.name {
  flex-grow: 1;
  color: #fff;
  font-size: 1.5rem;
}
.user-name {
  text-transform: capitalize;
}
.sign-out {
  color: #3380f0;
  font-size: 1rem;
  font-weight: 600;
  border: none;
  outline: none;
  padding: 6px 16px;
  border-radius: 8px;
  cursor: pointer;
}
.main {
  display: flex;
  flex-direction: column;
  max-width: 750px;
  margin: 0 auto;
  padding: 0 25px;
}
.input {
  width: 100%;
  padding: 6px 12px;
  outline: none;
  color: #3380f0;
  font-size: 1rem;
  font-weight: 500;
  border: 3px solid #337ff010;
  border-radius: 6px;
  margin-top: 20px;
}
.input:focus {
  border-color: #3380f0;
}
.actions {
  display: flex;
  gap: 14px;
  margin: 10px 0 20px 0;
  justify-content: end;
}
.act-button {
  outline: none;
  border: none;
  cursor: pointer;
  padding: 6px 16px;
  color: #fff;
  font-size: 1rem;
  font-weight: 600;
  border-radius: 8px;
}
.delete {
  background: #5a5959;
  min-width: 104px;
}
.create-update {
  background: #3380f0;
  min-width: 127px;
}
.cancel-edit-btn {
  outline: none;
  border: none;
  cursor: pointer;
  font-size: 0.8rem;
  background: #5a5959;
  padding: 0px 5px;
  border-radius: 6px;
  color: #fff;
}
.no-data {
  margin: 0 auto;
  font-size: 1rem;
  font-weight: 500;
}
.item {
  border: 3px solid #337ff010;
  padding: 6px 12px;
  border-radius: 6px;
}
/* .item:hover {
  cursor: pointer;
  border-color: #3380f0;
} */
.item-sec-1 {
  display: flex;
  align-items: flex-end;
}
.item-sec-2 {
  font-size: 0.9rem;
  color: #828282;
  margin-top: 10px;
}
.todo-name {
  word-break: break-all;
  flex-grow: 1;
  color: #3380f0;
  font-size: 1rem;
  font-weight: 500;
}
.disabled {
  cursor: not-allowed;
}
